<!-- Include header -->
<%- include('../partials/header', {title: 'deviceReport', scripts: ['https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js', 'https://cdn.jsdelivr.net/npm/chart.js@2.8.0', 'https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.8.0', 'https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.4']}); %>

<!-- Import nav bar -->
<%- include('../partials/nav', {page: 'reports'}); %>

<div class="container mt-4">
<!-- Container starts -->
<div class="container-fluid">
    <!-- Routines add section starts -->
    <div class="report-section mb-2">
        <div class="section-header">
			<h2 class="text-ecogreen font-weight-bold">Energy Report for <%= deviceName %></h2>

            <div class="d-flex justify-content-between align-items-top">
            <p class="text-secondary">View the total energy consumption of the Device</p>
            <input value="<%= deviceID %>" id="deviceID" hidden>
            <input value="<%= deviceName %>" id="deviceName" hidden>
        
        </div>
    </div>
</div>


<!-- Tabs -->
<section id="tabs">
	<div class="container mt-0">
		<div class="row">
			<div class="col">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link  active" id="today" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Today</a>
						<a class="nav-item nav-link" id="week" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Week</a>
						<a class="nav-item nav-link" id="month" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Month</a>
					</div>
				</nav>
				<div class="d-flex tab-content py-3 justify-content-center" id="nav-tabContent">
					<div class="container tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<div class="Info mt-2">
							<div class="row">
							  <div class="col-sm-12">
								<div class="card bg-ecogreen-solid  m-2">
								<div class="card-body d-flex justify-content-between align-items-center">
								  <div class="">
									<h6 class="card-title text-secondary font-weight-bold">Total Consumption of Device Today </h6>
									<span id="totalEnergy" class="text-secondary"></span> kW</h5>
								  </div>
								<div>
								  <i class="fal fa-battery-bolt fa-3x"></i>
								</div>
								  
								</div>
								</div>
							  </div>
							  </div>
							  </div>
						<canvas id="chartToday" width="400" height="500"></canvas>
	

					</div>
					<div class="container tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

						
						      
<div class="Info mt-2">
	<h6 class="font-weight-bold">Device Energy Information for the Week</h6>
	<div class="row">
		<div class="col-sm-3">
		  <div class="card bg-ecogreen-solid  m-2">
			<div class="card-body d-flex justify-content-between align-items-center">
				<div class="">
					<h6 class="card-title text-secondary font-weight-bold">Total Consumption of Device for the Week </h6>
					<p class="card-text"><span id="totalWeek" class="text-secondary"></span> kW </p>
				</div>
			<div>
        <i class="fal fa-battery-bolt fa-3x"></i>
			</div>
			  
			</div>
		  </div>
		</div>
		<div class="col-sm-3">
		  <div class="card bg-ecogreen-solid  m-2">
			<div class="card-body d-flex justify-content-between align-items-center">
				<div class="">
        <h6 class="card-title text-secondary font-weight-bold">Min Consumption of Device in the Week was</h6>
        <p class="card-text"><span id="minWeek" class="text-secondary"></span> kW</p>on <span id="weekMinDay" class="text-secondary"></span> </p>
				</div>
				<div>
          <i class="fal fa-battery-empty fa-3x"></i>
				</div>
			</div>
		  </div>
		</div>
		<div class="col-sm-3" >
			<div class="card bg-ecogreen-solid m-2">
				<div class="card-body d-flex justify-content-between align-items-center">
				<div class="">
				  <h6 class="card-title text-secondary font-weight-bold">Max Consumption of Device for the Week</h6>
          <p class="card-text"><span id="maxWeek" class="text-secondary"></span> kW</p>on <span id="weekMaxDay" class="text-secondary"></span> </p>
				</div>

				  <div>
            <i class="fal fa-battery-full fa-3x"></i>
				</div>
			  </div>
			</div>
      </div>
      <div class="col-sm-3" >
        <div class="card bg-ecogreen-solid m-2">
          <div class="card-body d-flex justify-content-between align-items-center">
          <div class="">
            <h6 class="card-title text-secondary font-weight-bold">Average Consumption of Device for the Week</h6>
            <p class="card-text"> <span id="avgWeek" class="text-secondary"></span> kW </p>
          </div>
  
            <div>
              <i class="fal fa-battery-half fa-3x"></i>
          </div>
          </div>
        </div>
        </div>
	  </div>
	  </div>
			  
						<canvas id="chartWeek" width="400" height="500"></canvas>
                 
					</div>
					<div class="container tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                  
						<div class="Info mt-2">
							<h6 class="font-weight-bold">Device Energy Information for the Month</h6>
							<div class="row">
								<div class="col-sm-3">
								  <div class="card bg-ecogreen-solid  m-2">
									<div class="card-body d-flex justify-content-between align-items-center">
										<div class="">
											<h6 class="card-title text-secondary font-weight-bold">Total Consumption of Device for the Month </h6>
											<p class="card-text"><span id="totalMonth" class="text-secondary"></span> kW </p>
										</div>
									<div>
								<i class="fal fa-battery-bolt fa-3x"></i>
									</div>
									  
									</div>
								  </div>
								</div>
								<div class="col-sm-3">
								  <div class="card bg-ecogreen-solid  m-2">
									<div class="card-body d-flex justify-content-between align-items-center">
										<div class="">
								<h6 class="card-title text-secondary font-weight-bold">Min Consumption of Device in the Month was</h6>
								<p class="card-text"><span id="minMonth" class="text-secondary"></span> kW</p>on <span id="monthMinDay" class="text-secondary"></span> </p>
										</div>
										<div>
								  <i class="fal fa-battery-empty fa-3x"></i>
										</div>
									</div>
								  </div>
								</div>
								<div class="col-sm-3" >
									<div class="card bg-ecogreen-solid m-2">
										<div class="card-body d-flex justify-content-between align-items-center">
										<div class="">
										  <h6 class="card-title text-secondary font-weight-bold">Max Consumption of Device for the Month</h6>
								  <p class="card-text"><span id="maxMonth" class="text-secondary"></span> kW</p>on <span id="monthMaxDay" class="text-secondary"></span> </p>
										</div>
						
										  <div>
									<i class="fal fa-battery-full fa-3x"></i>
										</div>
									  </div>
									</div>
							  </div>
							  <div class="col-sm-3" >
								<div class="card bg-ecogreen-solid m-2">
								  <div class="card-body d-flex justify-content-between align-items-center">
								  <div class="">
									<h6 class="card-title text-secondary font-weight-bold">Average Consumption of Device for the Month</h6>
									<p class="card-text"> <span id="avgMonth" class="text-secondary"></span> kW </p>
								  </div>
						  
									<div>
									  <i class="fal fa-battery-half fa-3x"></i>
								  </div>
								  </div>
								</div>
								</div>
							  </div>
						</div>
						<div id="container">
							<canvas id="chartMonth" width="400" height="500"></canvas>
						</div>
		
					</div>
					
				</div>
			
			</div>
        </div>
        
        
	</div>
</section>
<!-- Container ends -->
</div>

<script>
	const deviceID = $("#deviceID").val();
const deviceName= $("#deviceName").val();

	document.getElementById("week").addEventListener("click", week);
	document.getElementById("month").addEventListener("click", month);
	window.addEventListener('load', getTotal);


	async function getTotal(){


const totalResponse = await fetch(`/api/deviceToday?deviceID=${deviceID}&deviceName=${deviceName}`);

const totalEnergy = await totalResponse.json();
console.log("Balle ")
console.log(totalEnergy)
const totalData = totalEnergy.energy.sum[0].energySum;	
console.log("tot")


$("#totalEnergy").html(totalData); 

}

// window.addEventListener('load', setup);



   async function getWeekData() {
		const response = await fetch(`/api/deviceWeek?deviceID=${deviceID}&deviceName=${deviceName}`);
		const energy = await response.json();
		const data = energy.energyWeek.sum;
		var total = 0;
        
        console.log("Bootyyyyy")
        console.log(data)

		// data = data.sort(function (a, b) {
        // return a.parseInt(_id) -  b.parseInt(_id);
		// });
		

		const y = [0,0,0,0,0,0,0];
		var x = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]

		data.forEach(obj => {
			y[obj._id] = obj.energySum;
			total += obj.energySum;
		});
	
		
  
		$("#totalWeek").html(total); 

const maxVal =  Math.max(...y);
$("#maxWeek").html(maxVal);
console.log("lol")
console.log(maxVal)
console.log(x[y.indexOf(maxVal)])

$("#weekMaxDay").html(x[y.indexOf(maxVal)]);

const minVal = Math.min(...y);
$("#minWeek").html(minVal);
$("#weekMinDay").html(x[y.indexOf(minVal)]);

const average = total/x.length;
$("#avgWeek").html(average);



        return { x, y };
   }

   async function week() {
        const ctx = document.getElementById('chartWeek').getContext('2d');
        const temp = await getWeekData();
        const myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: temp.x,
            datasets: [
              {
                label: 'Energy This Week',
                data: temp.y,
                fill: false,
                borderColor: 'rgba(190, 224, 0, 1)',
                backgroundColor: 'rgba(190, 224, 0, 1)',
                borderWidth: 1
              }
            ]
          }
        });
      }

	  async function getMonthData() {
		const response = await fetch(`/api/deviceMonth?deviceID=${deviceID}&deviceName=${deviceName}`);
		const energy = await response.json();
		const data = energy.energyWeek.sum;
        const month = energy.energyWeek.month;
        
        console.log("heheheh")
        console.log(data)
		const y = [];
		var x = [];
		var total = 0;
		var str = data[0]._id
		var name = str.split(" ");
		name[0] = name[0].substring(0, name[0].length);


        for (let index = 1; index <= month; index++) {
			var date = index.toString().concat(" " , name[0]);
			x.push(date);
			y.push(0);
			
		}

		data.forEach(obj => {
			y[moment(obj._id).format('D')-1] = obj.energySum;
			total += obj.energySum;
		});

		
		$("#totalMonth").html(total); 

const maxVal =  Math.max(...y);
$("#maxMonth").html(maxVal);
$("#monthMaxDay").html(x[y.indexOf(maxVal)]);

const minVal = Math.min(...y);
$("#minMonth").html(minVal);
$("#monthMinDay").html(x[y.indexOf(minVal)]);

const average = total/x.length;
$("#avgMonth").html(average);
  

        return { x, y };
   }

   async function month() {
        const ctx = document.getElementById('chartMonth').getContext('2d');
        const temp = await getMonthData();
        const myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: temp.x,
            datasets: [
              {
                label: 'Energy This Month',
                data: temp.y,
                fill: false,
                borderColor: 'rgba(190, 224, 0, 1)',
                backgroundColor: 'rgba(190, 224, 0, 1)',
                borderWidth: 1
              }
            ]
		  },
		  plugins: {
						zoom: {
							pan: {
								enabled: true,
								mode: 'x',
								speed: 10,
								threshold: 10
							},
							zoom: {
								enabled: true,
								mode: 'y'
							}
						}
					}
        });
      }

  async function getEnergy() {


		const response = await fetch(`/api/deviceToday?deviceID=${deviceID}&deviceName=${deviceName}`);
		const energy = await response.json();
	

		const data = energy.energy.sum;
		const result = {};
		result.sum = data[0].energySum;	
       
        return result ;
   }

	var chartColors = {
	ecogreen: 'rgba(190, 224, 0, 1)'
};

	async function onRefresh(chart) {
	
		const resultData = await getEnergy();


	    chart.config.data.datasets.forEach(function(dataset) {
		dataset.data.push({
			x: Date.now(),
			y: resultData.sum
		});
	});
}

var color = Chart.helpers.color;
var config = {
	type: 'line',
	data: {
		datasets: [{
			label: 'Energy Per Unit Time',
			backgroundColor: color(chartColors.ecogreen).alpha(0.5).rgbString(),
			borderColor: chartColors.ecogreen,
			fill: false,
			lineTension: 0,
			data: []
		}]
	},
	options: {
		title: {
			display: true,
			text: 'Energy Usage for the day'
		},
		scales: {
			xAxes: [{
				type: 'realtime',
				realtime: {
					duration: 20000,
					refresh: 1000,
					delay: 2000,
					onRefresh: onRefresh
				}
			}],
			yAxes: [{
				scaleLabel: {
					display: true,
					labelString: 'value'
				}
			}]
		},
		tooltips: {
			mode: 'nearest',
			intersect: false
		},
		hover: {
			mode: 'nearest',
			intersect: false
		}
	}
};

window.onload = function() {
	var ctx = document.getElementById('chartToday').getContext('2d');
	window.myChart = new Chart(ctx, config);
};

    </script>
    </div>
<!-- Include footer -->
<% include ../partials/footer %>

